.page {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 2em;

	max-width: 1000px;
	margin: 0 auto;
} 

footer {
	text-align: center; 
	padding: 1em;
	color: rgb(116, 116, 116);
	
	& p { font-weight: 400; }
	& span {	font-weight: 700; }
} 