*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

:root {
  --ff-primary: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--ff-primary);
  /* background-color: #aff1da; */
  min-height: 100vh;
  width: 100vw;
}

.page {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 1400px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  letter-spacing: 0em;
  text-align: left;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
}
header .navigation {
  display: none;
  gap: 2em;
  max-width: 720px;
}
header .navigation a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
@media screen and (min-width: 1024px) {
  header .navigation {
    display: flex;
  }
}
header .btn-navigation-menu {
  padding: 0.5em;
  border: none;
  background-color: #fff;
}
header .btn-navigation-menu svg {
  width: 24px;
  height: 24px;
  color: orange;
}
@media screen and (min-width: 1024px) {
  header .btn-navigation-menu {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.section-home {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.section-home h1, .section-home h2, .section-home h3, .section-home p, .section-home input[type=submit] {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0em;
  font-weight: 500;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .section-home h1, .section-home h2, .section-home h3, .section-home p, .section-home input[type=submit] {
    margin-left: 25%;
  }
}
.section-home__head h1 {
  font-size: 12px;
  line-height: 18px;
  color: #2D9CDB;
}
.section-home__head p {
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}
.section-home__ratio-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
@media screen and (min-width: 768px) {
  .section-home__ratio-container {
    padding-bottom: 25%;
  }
}
.section-home__ratio-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
}
.section-home h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #333333;
}
.section-home__description-p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #4f4f4f;
  max-width: 366px;
}
.section-home .contact-us {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 366px;
}
@media screen and (min-width: 768px) {
  .section-home .contact-us {
    margin-left: 25%;
  }
}
.section-home .contact-us h3 {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  color: #828282;
}
.section-home .contact-us form {
  display: flex;
  background-color: #f2f2f2;
  padding: 0.3em;
  border-radius: 12px;
}
.section-home .contact-us form input[type=email] {
  flex-grow: 1;
  border: none;
  background-color: inherit;
  padding-left: 1em;
}
.section-home .contact-us form input[type=email]::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.section-home .contact-us form input[type=email]:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.section-home .contact-us form input[type=email]::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.section-home .contact-us form input[type=submit] {
  background-color: #2D9CDB;
  border-radius: 12px;
  border: none;
  min-width: 71px;
  min-height: 39px;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1em;
  color: rgb(116, 116, 116);
}
footer p {
  font-weight: 400;
}
footer span {
  font-weight: 700;
}

.hidden {
  display: none;
}

/* last call for cascade *//*# sourceMappingURL=style.css.map */